In [2]:
import string
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns

### Loading Dataset
Change the dataset you want to train the AI with by replacing file path

In [35]:
# Example datasets 
chatGPTPhrases = "./datasets/chatgpt_paraphrases.csv"
commonEngWords = "./datasets/common_eng_words.csv"

In [16]:
df = pd.read_csv("./datasets/chatgpt_paraphrases.csv")
df.head()

,text,paraphrases,category,source
0,What is the step by step guide to invest in sh...,['Can you provide a detailed procedure for inv...,question,quora
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,['Can you tell me about the history of the Koh...,question,quora
2,How can I increase the speed of my internet co...,['What are some ways to enhance my internet sp...,question,quora
3,Why am I mentally very lonely? How can I solve...,['What is causing my mental loneliness and how...,question,quora
4,"Which one dissolve in water quikly sugar, salt...","['Among sugar, salt, methane, and carbon dioxi...",question,quora

In [17]:
def remove_pun(text):
    for pun in string.punctuation:
        text = text.replace(pun,"")
    text = text.lower()
    return(text)

In [23]:
df['text']= df['text'].apply(remove_pun)
df.head()

,text,paraphrases,category,source
0,what is the step by step guide to invest in sh...,['Can you provide a detailed procedure for inv...,question,quora
1,what is the story of kohinoor kohinoor diamond,['Can you tell me about the history of the Koh...,question,quora
2,how can i increase the speed of my internet co...,['What are some ways to enhance my internet sp...,question,quora
3,why am i mentally very lonely how can i solve it,['What is causing my mental loneliness and how...,question,quora
4,which one dissolve in water quikly sugar salt ...,"['Among sugar, salt, methane, and carbon dioxi...",question,quora

In [22]:
from sklearn.model_selection import train_test_split

In [29]:
text = df.iloc[:,0]
paraphrases = df.iloc[:,1]
category = df.iloc[:,2]

0         question
1         question
2         question
3         question
4         question
            ...
353541    sentence
353542    sentence
353543    sentence
353544    sentence
353545    sentence
Name: category, Length: 353546, dtype: object

### Training the model with 100% of data in csv file
 Change this % value by change test_size

In [33]:
text_train, text_test, paraphrases_train, paraphrases_test, category_train, category_test = train_test_split(text,paraphrases,category, test_size=1)